    <title>keakon的涂鸦馆</title>
    <script>
        if (top !== self) top.location = self.location;
        var _gaq = [['_setAccount', 'UA-5964973-11'], ['_trackPageview'], ['_trackPageLoadTime']];
        var _gaq_start = new Date();
    </script>
    <meta name="viewport" content="width=800"/>
    <link href="/feed" rel="alternate" title="keakon的涂鸦馆 - ATOM供稿" type="application/atom+xml"/>
    <link href="/comment-feed" rel="alternate" title="keakon的涂鸦馆 - 评论供稿" type="application/atom+xml"/>
    <link rel="stylesheet" href="/theme/null/css/style.css?398"/>

